extends template

block content
    h1 Order Dorm Supplies!
    form
        h2 Start Ordering!
    
    button(type ='button' onclick='buy()') Buy

//- block postScript
//-     script submitOnEnterKey(submitForm);
