extends template

block content
    h1 Order Dorm Supplies!
    form
        h2 Register for Dorm Supplies Delivery
        input(type='text' name='name' placeholder='Name') 
        br
        input(type='email' name='email' placeholder='Email') 
        br
        input(type='password' name='password' placeholder='Password') 
        br
        input(type='number' name='classYear' placeholder='Class year') 
        br
        button(type ='button' onclick='register()') Register
    
//- 
//- block postScript
//-     script submitOnEnterKey(submitForm);
